<h1>WHICH CAT HAPPENS TO BE THE CUTEST?</h1>
<p>only you and everyone else can decide</p>
<br/>
<br/>
<table>
  <tr>
    <td><h1><%= link_to "THIS CAT", cat_yes_path(@cat2.id, @cat1.id)%></h1>
    </td>
    <td><h1><%= link_to "THAT CAT", cat_yes_path(@cat1.id, @cat2.id)%></h1>
    </td>
</tr>
  <tr>
  	<td>
    <img height="600" width="600" src=<%= @cat2.picture.url%>>
    </td>
    <td>
    <img height="600" width="600" src=<%= @cat1.picture.url%>>
    </td>
</tr>
</table>
<br/><br/>
<h2>Most Votes</h2><!--<%= @top_cat.picture.url%><br>-->
<img height="600" width="600" src=<%= @top_cat.picture.url%>>
<h2>Ugliest Cat</h2>
<img height="600" width="600" src=<%= @ugliest_cat.picture.url%>>

<br/>


<br/>
<h1><%= link_to "NEW CAT", new_cat_path%></h1>
